extends ../layout/main

block variables
  - var title = 'UI Kit';
  - var description = 'UI for project';
  - var pageClass = 'index-page';

block content
  h1.title Hello i am future UI kit
    include ../components/text-field/text-field


block script
  script(type='text/javascript').
    const foo = true;
    let bar = function() {};
    if (foo) {
    bar(1 + 5)
    }