// Fonts here
// see more: https://github.com/vedees/webpack-template/blob/master/README.md#import-js-files

@font-face {
  font-family: "Montserrat";
  src: url('/assets/fonts/Montserrat-Regular.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/Montserrat-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('/assets/fonts/Montserrat-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/Montserrat-Regular.svg') format('svg'); /* Legacy iOS */
}